In [1]:
from pathlib import Path
import pandas as pd

In [4]:
data = Path('Data/model_data.csv')
df = pd.read_csv(data)
df.head()

   Open  Close  Diff.  Diff. Dec.    Diff. %  Result
0  -205   -210     -5    0.024390   2.439024       0
1  -105   -127    -22    0.209524  20.952381       1
2  -210   -230    -20    0.095238   9.523810       1
3  -210   -215     -5    0.023810   2.380952       0
4  -115   -122     -7    0.060870   6.086957       0

In [7]:
y = df["Result"]
X = df.drop(columns="Result")

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1,
                                                    stratify=y)
X_train.shape

(75, 5)

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

LogisticRegression(max_iter=200, random_state=1)

In [10]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [11]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.56
Testing Data Score: 0.52

In [12]:
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actuals": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actuals
0           0        1
1           1        0
2           1        1
3           1        1
4           1        1
5           1        0
6           0        1
7           1        1
8           1        1
9           1        0

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.52