In [12]:
from pathlib import Path
import pandas as pd

In [21]:
data = Path('Data/model_data2.csv')
df = pd.read_csv(data)
df.tail()

      Open  Close  Diff.  Diff. Dec.   Diff. %  Result
2457  -115   -117     -2    0.017391  1.739130       1
2458  -115   -120     -5    0.043478  4.347826       1
2459  -105   -104      1   -0.009524  0.952381       0
2460  -115   -121     -6    0.052174  5.217391       1
2461  -120   -124     -4    0.033333  3.333333       0

In [22]:
y = df["Result"]
X = df.drop(columns="Result")

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1,
                                                    stratify=y)
X_train.shape

(1846, 5)

In [24]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

LogisticRegression(max_iter=200, random_state=1)

In [25]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [26]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.5899241603466956
Testing Data Score: 0.586038961038961

In [29]:
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actuals": y_test}).reset_index(drop=True)
results

     Prediction  Actuals
0             0        0
1             1        0
2             1        1
3             1        0
4             0        0
..          ...      ...
611           1        0
612           0        0
613           0        0
614           1        1
615           1        1

[616 rows x 2 columns]

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.586038961038961